<div
  class="country-list-container flex items-center justify-center w-full h-full max-h-full"
>
  <div
    class="country-list-inner w-full max-w-md mt-6 h-full max-h-full rounded-lg flex-col flex"
  >
    <div class="form-group w-full">
      <input
        type="text"
        class="form-control w-full rounded-md p-2 mb-4 border-2 shadow-sm disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none"
        placeholder="Szukaj..."
        [(ngModel)]="filterTerm"
      />
    </div>
    <div
      class="table-wrapper bg-white w-full p-4 rounded-lg flex-1 overflow-y-auto max-h-96 shadow-md"
    >
      <ng-container *ngIf="loaded$ | async; else loading">
        <table class="table w-full">
          <tbody class="w-full">
            <tr
              *ngFor="let country of countries | filter: filterTerm"
              class="bg-transparent border-b tracking-normal border-gray-100 cursor-pointer hover:bg-gray-100 hover:font-semibold transition-all ease-out duration-100 last:border-b-0"
            >
              <a
                routerLink="./{{
                  country.translations.pol.common
                    | lowercase
                    | replaceWhiteSpace
                }}"
                class="flex justify-between py-2 items-center px-4"
              >
                <td class="w-10 min-w-[40px] h-8">
                  <img
                    src="{{ country.flags.svg }}"
                    alt=""
                    class="w-full h-full object-cover shadow-sm shadow-gray-500"
                    loading="lazy"
                  />
                </td>
                <td class="text-right">
                  {{ country.translations.pol.common | titlecase }}
                </td></a
              >
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
