<footer
  class="w-full bg-white shadow flex items-center justify-between h-14 sm:h-18 mt-18 px-2 sm:px-10 dark:bg-gray-800"
>
  <span class="hidden sm:block">
    Zaprojektowane przez
    <span class="font-bold">Dmytro Poputnikov</span></span
  >
  <ul
    class="flex flex-wrap items-center text-sm text-gray-500 dark:text-gray-400 sm:mt-0"
  >
    <li>
      <button
        type="button"
        (click)="showAboutMe()"
        class="bg-zinc-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded inline-flex items-center content-center transition-all"
      >
        <span>O Mnie</span>
      </button>
    </li>
  </ul>
</footer>
